<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="myCat" class="com.szq.vo.Cat">
        <property name="age" value="2"/>
        <property name="name" value="Tom猫"/>
        <property name="cardId" value="ue223"/>
    </bean>
</beans>